In [1]:
import pandas as pd

In [2]:
!pip install pypdf2

Requirement already satisfied: pypdf2 in c:\users\divya\anaconda3\lib\site-packages (3.0.1)
Requirement already satisfied: typing_extensions>=3.10.0.0 in c:\users\divya\anaconda3\lib\site-packages (from pypdf2) (4.1.1)

[notice] A new release of pip is available: 23.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
df = pd.read_excel("D:\Risidio\Prom Project\script 2\Movie_Scripts_Sample_Submission.xlsx")
result = df.values.flatten()

df9 = pd.DataFrame(result)
df9

                   0
0      file_2300.txt
1           0.254897
2            0.07087
3           0.034026
4           0.001088
...              ...
19522       0.001002
19523         0.0005
19524       0.114143
19525       0.008754
19526       0.004357

[19527 rows x 1 columns]

In [4]:


txt_file_path = r"D:\Risidio\Prom Project\script 1\SW_EpisodeIV.txt"
csv_file_path = r"D:\Risidio\Prom Project\script 1\SW_EpisodeIV.csv"


df2 = pd.read_csv(csv_file_path,header=None)
result = df2.values.flatten()

df10 = pd.DataFrame(result)
df10

                                                      0
0                                                     0
1                                  character "dialogue"
2     1 "THREEPIO" "Did you hear that?  They've shut...
3                          2 "THREEPIO" "We're doomed!"
4     3 "THREEPIO" "There'll be no escape for the Pr...
...                                                 ...
1007                              1006 "LUKE" "Oh, no!"
1008  1007 "THREEPIO" "Oh, my!  Artoo!  Can you hear...
1009  1008 "TECHNICIAN" "We'll get to work on him ri...
1010  1009 "THREEPIO" "You must repair him!  Sir, if...
1011                  1010 "LUKE" "He'll be all right."

[1012 rows x 1 columns]

In [5]:


txt_file_path = r"D:\Risidio\Prom Project\script 1\SW_EpisodeV.txt"
csv_file_path = r"D:\Risidio\Prom Project\script 1\SW_EpisodeV.csv"


df3 = pd.read_csv(csv_file_path, header=None)
result = df3.values.flatten()

df1 = pd.DataFrame(result)
df1

                                                     0
0                                                    0
1                                 character "dialogue"
2    1 "LUKE" "Echo Three to Echo Seven. Han, old b...
3            2 "HAN" "Loud and clear, kid. What's up?"
4    3 "LUKE" "Well, I finished my circle. I don't ...
..                                                 ...
836  835 "LUKE" "I'll meet you at the rendezvous po...
837  836 "LANDO" "Princess, we'll find Han. I promi...
838  837 "LUKE" "Chewie, I'll be waiting for your s...
839  838 "LUKE" "Take care, you two. May the Force ...
840                                   839 "LUKE" "Ow!"

[841 rows x 1 columns]

In [6]:

txt_file_path = r"D:\Risidio\Prom Project\script 1\SW_EpisodeVI.txt"
csv_file_path = r"D:\Risidio\Prom Project\script 1\SW_EpisodeVI.csv"



df4 = pd.read_csv(csv_file_path, header=None)
result = df4.values.flatten()

df2 = pd.DataFrame(result)
df2

                                                     0
0                                                    0
1                                 character "dialogue"
2    1 "SHUTTLE CAPTAIN" "Command station, this is ...
3    2 "DEATH STAR CONTROLLER" "The security deflec...
4    3 "SHUTTLE CAPTAIN" "We're starting our approa...
..                                                 ...
671  670 "LANDO" "Wedge, I don't think we're going ...
672  671 "WEDGE" "You'll make it. Just follow me Go...
673  672 "LANDO" "I promised to return his ship wit...
674                               673 "HAN" "Lando..."
675                      674 "THREEPIO" "They did it!"

[676 rows x 1 columns]

In [7]:
 
df5 = pd.read_csv("D:\Risidio\Prom Project\script 3\movie_metadata\metacritic_reviews_cut_versions.csv")
result = df5.values.flatten()

df3 = pd.DataFrame(result)
df3

                                                       0
0                                                      0
1      Because so little of what occurs on-screen eit...
2                                                      4
3                                                 242998
4                                                      1
...                                                  ...
84091                                            6723592
84092                                              21023
84093  Director Duncan Jones achieves a strange and w...
84094                                                100
84095                                             945513

[84096 rows x 1 columns]

In [8]:
df6 = pd.read_csv( "D:\Risidio\Prom Project\script 3\movie_metadata\movie_meta_data.csv")
result = df6.values.flatten()

df4 = pd.DataFrame(result)
df4

                                                       0
0                                                 120770
1                                 A Night at the Roxbury
2      Une nuit au Roxbury (France), Movida en el Rox...
3                                                   1998
4                                                     26
...                                                  ...
71445  Balancing between feverish dreamlike hallucina...
71446  mother-son-relationship, hammer-as-weapon, chi...
71447                    Crime, Drama, Mystery, Thriller
71448                                  Bring the hammer.
71449  The film opens with Joe (Joaquin Phoenix) in a...

[71450 rows x 1 columns]

In [9]:

df7 = pd.read_csv("D:\Risidio\Prom Project\script 3\movie_metadata\screenplay_awards.csv")
result = df7.values.flatten()

df5 = pd.DataFrame(result)
df5

                                     0
0     A Tree Grows in Brooklyn_0038190
1                                    +
2                                    -
3                                    -
4                                    -
...                                ...
2767                                 -
2768                                 -
2769                                 -
2770                                 -
2771                                 +

[2772 rows x 1 columns]

In [10]:


txt_file_path = r"D:\Risidio\Prom Project\script 4\TERMINATOR 2 JUDGEMENT DAY.txt"
csv_file_path = r"D:\Risidio\Prom Project\script 4\TERMINATOR 2 JUDGEMENT DAY.csv"


df8 = pd.read_csv(csv_file_path, header=None)

result = df8.values.flatten()

df6 = pd.DataFrame(result)
df6

                                                      0
0                                                     0
1                                EXT. CITY STREET - DAY
2             Downtown L.A.  Noon on a hot summer da...
3             lunchtime crowd stacks up into a wall ...
4             they move in herds among the glitterin...
...                                                 ...
4633                                       SARAH (V.O.)
4634                  The luxury of hope was given t...
4635                  Terminator.  Because if a mach...
4636                  the value of human life... may...
4637          Sarah ruffles the kids's hair as she r...

[4638 rows x 1 columns]

In [11]:


txt_file_path = r"D:\Risidio\Prom Project\script 4\Terminator Salvation.txt"
csv_file_path = r"D:\Risidio\Prom Project\script 4\Terminator Salvation.csv"


df9 = pd.read_csv(csv_file_path, header=None)
result = df9.values.flatten()

df7 = pd.DataFrame(result)
df7

                                                      0
0                                                     0
1                          INT.   DEATH ROW/CELL - DAWN
2               START TIGHT ON MARCUS WRIGHT. He's a...
3               20's-30's, his head shaven. Marcus s...
4               resigned expression. We hear the voi...
...                                                 ...
4103            ANOTHER BLAST illuminates his face f...
4104            craggy, a blend of Marcus and Connor...
4105            and proud. [Perhaps shoot this with ...
4106                                 MARCUS (V.O.) (...
4107                       ...was blind, but now I see.

[4108 rows x 1 columns]

In [12]:


txt_file_path = r"D:\Risidio\Prom Project\script 4\Terminator.txt"
csv_file_path = r"D:\Risidio\Prom Project\script 4\Terminator.csv"

# Read the text file into a DataFrame
df10 = pd.read_csv(csv_file_path, header=None)

result = df10.values.flatten()

df8 = pd.DataFrame(result)
df8

                                                      0
0                                                     0
1     EXT. SCHOOLYARD - NIGHT                       ...
2             Silence.  Gradually the sound of dista...
3             audible.  A LOW ANGLE bounded on one s...
4             fence and on the other by the one-stor...
...                                                 ...
5023                                            I know.
5024          CAMERA CRANES UP as she pulls away, dr...
5025          flat desert on a ribbon of highway.  A...
5026          crescendos from horizon to horizon out...
5027                                             world.

[5028 rows x 1 columns]

In [13]:
import PyPDF2

pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\3Idiots.pdf"
txt_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\3Idiots.txt"


with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df11 = pd.DataFrame({'Text': [text]})
print(df11)

                                                Text
0  THE ORIGINAL  SCREENPLAYTHE ORIGINAL  SCREENPL...

In [14]:

pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Andhadhun.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Andhadhun.csv"


with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df12 = pd.DataFrame({'Text': [text]})
print(df12)

                                                Text
0  \t1\tGji      Hi all, When I was asked for the...

In [15]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PK.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PK.csv"

with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df13 = pd.DataFrame({'Text': [text]})
print(df13)

                                                Text
0  EXT. space - NIGHT 1 1\nIn Space, millions of ...

In [16]:
import PyPDF2
import csv

pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Raazi.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Raazi.csv"

with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df14 = pd.DataFrame({'Text': [text]})
print(df14)

                                                Text
0  © Meghna Gulzar 2017        DHARMA PRODUCTIONS...

In [17]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Stree.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Stree.csv"

with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df15 = pd.DataFrame({'Text': [text]})
print(df15)

                                                Text
0  STREE\nWRITTEN BY\nRAJ & DK\n(C) D2R FILMS 201...

In [18]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Tamasha.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Tamasha.csv"

with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df16 = pd.DataFrame({'Text': [text]})
print(df16)

                                                Text
0  \t\t24th\tAug\t‘15\tTamasha\t\tScript\t\t\t\tS...

In [19]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode1.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode1.csv"

with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df17 = pd.DataFrame({'Text': [text]})
print(df17)

                                                Text
0  AARYA\n  SEASON 1 \n EPISODE - 1\nDIRECTED BY ...

In [20]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode2.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode2.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df18 = pd.DataFrame({'Text': [text]})
print(df18)

                                                Text
0  AARYA\n  SEASON 1 \n EPISODE - 2\nDIRECTED BY ...

In [21]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode3.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode4.csv"

with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df19 = pd.DataFrame({'Text': [text]})
print(df19)

                                                Text
0  AARYA\n  SEASON 1 \n EPISODE - 3\nDIRECTED BY ...

In [22]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode4.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode4.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df20 = pd.DataFrame({'Text': [text]})
print(df20)

                                                Text
0  AARYA\n  SEASON 1 \n EPISODE - 4\nDIRECTED BY ...

In [23]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode5.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode5.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df21 = pd.DataFrame({'Text': [text]})
print(df21)

                                                Text
0  AARYA\n  SEASON 1 \n EPISODE - 5\nDIRECTED BY ...

In [24]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode6.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode6.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df22 = pd.DataFrame({'Text': [text]})
print(df22)

                                                Text
0  AARYA\n  SEASON 1 \n EPISODE - 6\nDIRECTED BY ...

In [25]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode7.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode7.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df23 = pd.DataFrame({'Text': [text]})
print(df23)

                                                Text
0  AARYA\n  SEASON 1 \n EPISODE - 7\nDIRECTED BY ...

In [26]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode8.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode8.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df24 = pd.DataFrame({'Text': [text]})
print(df24)

                                                Text
0  AARYA\n  SEASON 1 \n EPISODE - 8\nDIRECTED BY ...

In [27]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode9.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\Arya\Episode9.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df25 = pd.DataFrame({'Text': [text]})
print(df25)

                                                Text
0  AARYA\n  SEASON 1 \n EPISODE - 9\nDIRECTED BY ...

In [28]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\KotaFactory\Episode1.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\KotaFactory\Episode1.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df26 = pd.DataFrame({'Text': [text]})
print(df26)

                                                Text
0  ScreenplayINT. OUTSIDE MAHESHWARI SIR OFFICE -...

In [29]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\KotaFactory\Episode2.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\KotaFactory\Episode2.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df27 = pd.DataFrame({'Text': [text]})
print(df27)

                                                Text
0  ScreenplayINT. PG NIGHT\nCU of clock 11:30 pm....

In [30]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\KotaFactory\Episode3.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\KotaFactory\Episode3.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df28 = pd.DataFrame({'Text': [text]})
print(df28)

                                                Text
0  1. INT/EXT. PG -  VAIBHAV'S ROOM - 7:10AM\nCU ...

In [31]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\KotaFactory\Episode4.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\KotaFactory\Episode4.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df29 = pd.DataFrame({'Text': [text]})
print(df29)

                                                Text
0  ScreenplayINT. DAY CLASSROOM\nJeetu gives home...

In [32]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\KotaFactory\Episode5.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\KotaFactory\Episode5.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df30 = pd.DataFrame({'Text': [text]})
print(df30)

                                                Text
0  ScreenplayINT. UDAY’S ROOM - DAY\nSound of a m...

In [33]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode1.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode1.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df31 = pd.DataFrame({'Text': [text]})
print(df31)

                                                Text
0  PAATAL LOK\nEpisode 1 \nDraft 6.0\nWritten by ...

In [34]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode2.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode2.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df32 = pd.DataFrame({'Text': [text]})
print(df32)

                                                Text
0  PAATAL LOK\nEpisode 2\nDraft 5.0\nWritten by\n...

In [35]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode3.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode3.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df33 = pd.DataFrame({'Text': [text]})
print(df33)

                                                Text
0  PAATAL LOK\nEPISODE 3 \nDRAFT 5.0\nA HISTORY O...

In [36]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode4.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode4.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df34 = pd.DataFrame({'Text': [text]})
print(df34)

                                                Text
0  PAATAL LOK\nEpisode 4 \nDraft 5.0\n'Sleepless ...

In [37]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode5.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode5.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df35 = pd.DataFrame({'Text': [text]})
print(df35)

                                                Text
0  PAATAL LOK\nEPISODE 5 DRAFT 4.0  \n'TRUTHS & D...

In [38]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode6.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode6.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df36 = pd.DataFrame({'Text': [text]})
print(df36)

                                                Text
0  PAATAL LOK\nEPISODE 6 NEW\nDRAFT 3.0\nWritten ...

In [39]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode7.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode7.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df37 = pd.DataFrame({'Text': [text]})
print(df37)

                                                Text
0  PAATAL LOK  \nEPISODE 7 (NEW)  \nDRAFT 4.0\nWr...

In [40]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode8.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode8.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df38 = pd.DataFrame({'Text': [text]})
print(df38)

                                                Text
0  PAATAL LOK  \nEPISODE 8 (NEW)  \nDRAFT 4.0\nWr...

In [41]:


pdf_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode9.pdf"
csv_file_path = r"D:\Risidio\Prom Project\script 5\IndianMovieWebSeriesScripts\PaatalLok\Episode9.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df39 = pd.DataFrame({'Text': [text]})
print(df39)

                                                Text
0  PAATAL LOK\nEPISODE NINE (NEW)\nDraft 4.0\nWri...

In [42]:


pdf_file_path = r"D:\Risidio\Prom Project\Dark Reflection 5-6-18.pdf"
csv_file_path = r"D:\Risidio\Prom Project\Dark Reflection 5-6-18.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df40 = pd.DataFrame({'Text': [text]})
print(df40)

                                                Text
0   dark reflection\nby\neric blakeney\n4-7-15EXT...

In [43]:


pdf_file_path = r"D:\Risidio\Prom Project\French Twist-6-22-22.clean.pdf"
csv_file_path = r"D:\Risidio\Prom Project\French Twist-6-22-22.clean.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df41 = pd.DataFrame({'Text': [text]})
print(df41)

                                                Text
0  "FRENCH TWIST"\n       \nby\nEric Blakeney\n6-...

In [44]:


pdf_file_path = r"D:\Risidio\Prom Project\HONORED SOCIETY.pdf"
csv_file_path = r"D:\Risidio\Prom Project\HONORED SOCIETY.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df42 = pd.DataFrame({'Text': [text]})
print(df42)

                                                Text
0  HONORED SOCIETY\nHelier Bissell-Thomas\nU.S. C...

In [45]:


pdf_file_path = r"D:\Risidio\Prom Project\THE EMISSARY2022 -1.pdf"
csv_file_path = r"D:\Risidio\Prom Project\THE EMISSARY2022 -1.csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df43 = pd.DataFrame({'Text': [text]})
print(df43)

                                                Text
0                   THE EMISSARY\n               ...

In [46]:

pdf_file_path = r"D:\Risidio\Prom Project\The Narrows (Draft #5 - Richmond Tower).pdf"
csv_file_path = r"D:\Risidio\Prom Project\The Narrows (Draft #5 - Richmond Tower).csv"
with open(pdf_file_path, 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfReader(pdf_file)

    
    text_pages = []
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        text_pages.append(text)


with open(txt_file_path, 'w', encoding='utf-8') as txt_file:
    for page_text in text_pages:
        txt_file.write(page_text)
with open(txt_file_path, 'r', encoding='utf-8') as txt_file:
    text = txt_file.read()

#print(text)

df44 = pd.DataFrame({'Text': [text]})
print(df44)

                                                Text
0  The Narrows\nwritten by\nSamuel Pinney\n2020-0...

In [47]:
df44 = pd.read_csv('D:\Risidio\Prom Project\script 6\moviedataset.csv')
df44 = df44[['Scripts']]


print(df44)

                                                Scripts
0     Dearest, I feel certain that I am going mad ag...
1     Al That was when the icecaps had melted becaus...
2     - MICHAEL: Hi, sis. - CAROLYN: Hey. - CAROLYN:...
3     Good luck. Hi. Uh, I have an appointment with ...
4     THE HOUSE OF THE SPIRITS. It’s good to be back...
...                                                 ...
3918                                                NaN
3919                                                NaN
3920                                                NaN
3921  Sol Kyung-Gu Moon So-Ri Kim Yeo-Jin Written an...
3922                                                NaN

[3923 rows x 1 columns]

In [48]:
df45 = pd.read_csv("D:\Risidio\Prom Project\script 7\hp_script.csv", encoding='latin-1')
df45
df45 = df45[['dialogue']]


print(df45)

                                              dialogue
0    I should have known that you would be here, Pr...
1    Good evening, Professor Dumbledore. Are the ru...
2     I'm afraid so, Professor. The good, and the bad.
3                                         And the boy?
4                              Hagrid is bringing him.
..                                                 ...
788  Go on. On with you, on with you now. Oh, now l...
789  But Hagrid, we're not allowed to do magic away...
790     I do, but your cousin don't, do he? Eh? Hmmhmm
791        Feels strange to be going home, doesn't it?
792                    I'm not going home, not really.

[793 rows x 1 columns]

In [89]:
# merged_df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11])
merged_df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11], axis=0)
merged_df

                                                   Text
0                                                     0
1                                  character "dialogue"
2     1 "LUKE" "Echo Three to Echo Seven. Han, old b...
3             2 "HAN" "Loud and clear, kid. What's up?"
4     3 "LUKE" "Well, I finished my circle. I don't ...
...                                                 ...
5024          CAMERA CRANES UP as she pulls away, dr...
5025          flat desert on a ribbon of highway.  A...
5026          crescendos from horizon to horizon out...
5027                                             world.
0     THE ORIGINAL  SCREENPLAYTHE ORIGINAL  SCREENPL...

[182746 rows x 1 columns]

In [92]:
df44 = df2.rename(columns={'Scripts': 'Text'})
df45 = df3.rename(columns={'dialogue': 'Text'})

In [93]:
merged_df = pd.concat([df44,df45])
merged_df

                                                    Text
0                                                      0
1                                   character "dialogue"
2      1 "SHUTTLE CAPTAIN" "Command station, this is ...
3      2 "DEATH STAR CONTROLLER" "The security deflec...
4      3 "SHUTTLE CAPTAIN" "We're starting our approa...
...                                                  ...
84091                                            6723592
84092                                              21023
84093  Director Duncan Jones achieves a strange and w...
84094                                                100
84095                                             945513

[84772 rows x 1 columns]

In [86]:
df1.rename(columns={0: 'Text'}, inplace=True)
df2 = df2.rename(columns={0: 'Text'})
df3 = df3.rename(columns={0: 'Text'})
df4 = df4.rename(columns={0: 'Text'})
df5 = df5.rename(columns={0: 'Text'})
df6 = df6.rename(columns={0: 'Text'})
df7 = df7.rename(columns={0: 'Text'})
df8 = df8.rename(columns={0: 'Text'})
df9 = df9.rename(columns={0: 'Text'})
df10 = df10.rename(columns={0: 'Text'})

In [95]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,df41,df42, df43,df44,df45])
df

                                                    Text
0                                                      0
1                                   character "dialogue"
2      1 "LUKE" "Echo Three to Echo Seven. Han, old b...
3              2 "HAN" "Loud and clear, kid. What's up?"
4      3 "LUKE" "Well, I finished my circle. I don't ...
...                                                  ...
84091                                            6723592
84092                                              21023
84093  Director Duncan Jones achieves a strange and w...
84094                                                100
84095                                             945513

[267550 rows x 1 columns]

In [105]:
df = df.reset_index()
df

        index                                               Text
0           0                                                  0
1           1                               character "dialogue"
2           2  1 "LUKE" "Echo Three to Echo Seven. Han, old b...
3           3          2 "HAN" "Loud and clear, kid. What's up?"
4           4  3 "LUKE" "Well, I finished my circle. I don't ...
...       ...                                                ...
267545  84091                                            6723592
267546  84092                                              21023
267547  84093  Director Duncan Jones achieves a strange and w...
267548  84094                                                100
267549  84095                                             945513

[267550 rows x 2 columns]

In [106]:
df.to_csv('finaldataset.csv', index=False)